body
{
    margin:0px;
    background-color: #D5FDF5;
}


a
{
    color:black;
    text-decoration: none;
}


.logo
{
    background-color: #8CCDC5;
    text-align: center;
    font-size: 52px;
    font-family: "KG Eyes Open";
    padding: 0px 10px 0px 0px;
            
}


.menu
{
    background-color: #8CCDC5;
    display: flex;
    border: 1.5px solid #8CCDC5;
    font-family: serif;
    font-size: 17px;
    /* box-shadow: 0px 2px 15px black; */
}


.menuitem
{
    background-color: #8CCDC5;   
    height: 30px;
    width: 20px;
    text-align: center !important;
    flex: 1;
    margin-right:10px;
    margin-left:10px;
    border-radius: 2px;
    border: 1px solid #8CCDC5;
    font-family: "Throw My Hands Up In The Air";
    font-size: 24px;
    -webkit-transition: background-color 0.3s linear;    
}
.menuitem:hover
{
    background-color: #5FCABA;
    cursor:pointer;   
}


.menulink
{
    text-decoration: none;
    color: white;
}


.Slidy
{
    font-family: "Throw My Hands Up In The Air";
    font-size: 40px;
    text-align: center;    
    height: 305px;
    width: 540px;
    margin:auto;
    margin-top: 28px;
    margin-bottom: 25px;
    border:2px solid black;
    box-shadow: 0px 10px 15px black;
    background-color: darkslategray;
    -webkit-transition: transform 0.6s linear;
}
.Slidy:hover
{
    cursor:pointer;
    transform: scale(1.1,1.1);  
}


.titulo
{
    font-family: "Throw My Hands Up In The Air Bold";
    font-size: 70px;
    text-align: center;
    padding: 10px 10px 25px;
}


.titulo2
{
    font-family: "Throw My Hands Up In The Air Bold";
    font-size: 50px;
    text-align: center;
    margin-top: 10px;
    text-decoration:inherit;
    color:black;
}


.titulo3
{
    font-size: 24px;
    font-family: "Throw My Hands Up In The Air";
    width: 730px;
    height: 410px;
    border: 1px solid;
    background-color:darkgray;
    margin: 12px; 
    border-radius: 4px;
    border: 2px solid darkslategray; 
    box-shadow:2px 2px 2px black;           
    text-align: center;
}


.titulo4
{
    font-size: 22px;
    font-family: serif;
    width: 600px;
    height: 310px;
    border: 1px solid;
    background-color:darkgray;
    margin: 12px; 
    border-radius: 10px;
    border: 2px solid darkslategray; 
    text-align: center;
}


.conteinerprodutos2 
{
    background-image: url("solid-dark-green-wallpaper-3.jpg");
}


.conteinerprodutos
{
    display:flex;
    flex-wrap:wrap;       
    justify-content: space-around;
}


.caixaproduto 
{
    width: 220px;
    height: 200px;
    border: 1px solid;
    margin-right: 50px;
    margin-bottom: 70px;
    margin-left: 24px;
    border-radius: 4px;
    box-shadow: 3px 3px 3px black;
    border: 2px solid black;
}


.nome
{
    width: 220px;
    height: 30px;
    background-color:white;
    margin-top: 4px;       
    border-radius: 0px 8px 0px 8px;
    box-shadow: 2px 2px 2px black;
    border: 2px solid black; 
    font-family: sans-serif;
    font-size: 26px;
    color: black;
    text-align: center;
}
.nome:hover
{
    cursor: pointer;
}


.rodape
{
    background-color: #8CCDC5;
    text-align: center;
    font-family: "Throw My Hands Up In The Air Bold";
    font-size: 22px;
    color: black;
}


.comprar
{
    width: 240px;
    height: 66px;
    border: 1px solid;
    background-image: url("aqua-glass.jpg");
    margin: 12px 2px 2px; 
    border-radius: 4px;
    border: 2px solid darkslategray; 
    text-align:center;
    padding: 0px 0px 0px 0px;    
    font-family:"AgencyFB";
    font-size:54px;
    color: bold white;
    box-shadow: 2px 2px 2px black;
    -webkit-transition: background-image 0.5s linear;
    transition: transform 0.3s linear;
    text-transform: uppercase;
}
.comprar:hover
{
    background-image: url("aqua-glass3.jpg");
    cursor:pointer;
}
.comprar:active
{
    background-image: url("aqua-glass.jpg");
    transform:translate(2px,2px);
    transform:scale(0.9,0.9);
}


.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    transition-duration: 0.5s;
    transition-property: transform;
}
.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
    transform: scale(1.05);
}
         

@font-face {
    font-family: "Throw My Hands Up In The Air";
    src: url('../fonts/ThrowMyHandsUpintheAir.ttf') format('truetype');
}

@font-face {
    font-family: "Throw My Hands Up In The Air Bold";
    src: url('../fonts/ThrowMyHandsUpintheAirBold.ttf') format('truetype');
}

@font-face {
    font-family: "KG Eyes Open";
    src: url('../fonts/KGEyesWideOpen.ttf') format('truetype');
}

/* Seção Cadastro */

body {
    font-family: "Throw My Hands Up In The Air Bold";
}

#form_register {
    width: 500px;
    margin: 40px auto;
    text-align: center;
    position: relative;
}

#form_register h2 {
    font: 22px "Throw My Hands Up In The Air Bold";
    color: black;
    width: 100%;
    float: left;
    text-align: left;
    margin-bottom: 4%;
}

#form_register fieldset {
    background: white;
    border: 0 none;
    border-radius: 1px;
    -moz-border-radius: 1px;
    -webkit-border-radius: 1px;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0 0.4);
    padding: 20px 30px;
    box-sizing: border-box;
    width: 80%;
    margin: 0 10%;
    position: relative;
}

#form_register fieldset:not(:first-of-type) {
    display: none;
}

#form_register input,
#form_register textarea {
    padding: 10px;
    border: 1px solid #5FCABA;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    outline: none;
    box-sizing: border-box;
    width: 100%;
    font: 14px "Throw My Hands Up In The Air Bold";
    margin-bottom: 10px;
}

#form_register .acao {
    width: 100px;
    background: #5FCABA;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    padding: 12px 0;
    float: left;
    margin-right: 5%;
}

#form_register .acao:hover {
    background: #8CCDC5;
    border: 1px solid #8CCDC5;
    cursor: pointer;
}

#form_register #progress {
    margin-bottom: 30px;
    overflow: hidden;
    counter-reset: step;
}

#form_register #progress li {
    list-style-type: none;
    color: black;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 10px;
    float: left;
    width: 33.33%;
    position: relative;
}

#form_register #progress li:before {
    content: counter(step);
    counter-increment: step;
    width: 20px;
    display: block;
    line-height: 20px;
    background: white;
    color: #000000;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    margin: 0 auto 10px auto;
}

#form_register #progress li:after {
    content: '';
    width: 100%;
    background: white;
    height: 2px;
    position: absolute;
    top: 9px;
    left: -50%;
    z-index: -1;
}

#form_register #progress li:first-child:after {
    content: none;
}

#form_register #progress li.active:before,
#form_register #progress li.active:after {
    background: #8CCDC5;
    color: white;
    text-shadow: 0 1px 0;
}

/* Seção das Nuvens */

/* body {
    background: #fff;
    padding: 0;
    overflow: hidden;
      height: 500px;
    margin: 0;
  } */
  
  .container {
    width: 900px;
    position: flex;
    height: 400px;
    overflow: hidden;
    margin: 0 auto;
  }
  
  /* Clouds */
  #clouds {
    top: 100px;
    position: relative;
    -webkit-animation: move 20s infinite linear;  
    -moz-animation: move 20s infinite linear;  
    -ms-animation: move 20s infinite linear;
    z-index: 1;
  }
  
  #clouds2 {
    position: relative;
    -webkit-animation: backup 14s infinite linear;
    -moz-animation: backup 14s infinite linear;
    -ms-animation: backup 14s infinite linear;
    z-index: 2;
  }
  
  .cloud1, .cloud2, .cloud3 { 
    opacity: 1;  
  }
  
  .cloud1 {
    width: 200px;
    height: 60px;
    background: #00c9ee;
    position: absolute;
    top: 80px;
    
    -webkit-border-radius: 200px;
    -moz-border-radius: 200px;
    border-radius: 200px;
    
  }
  
  .cloud1:after {
    content: '';
    position: absolute;
    background: #00c9ee;
    width: 80px;
    height: 80px;
    top: -40px;
    left: 20px;
    
    -webkit-border-radius: 200px;
    -moz-border-radius: 200px;
    border-radius: 200px;
  
  }
  
  .cloud1:before {
    content: '';
    position: absolute;
    background: #00c9ee;
    width: 100px;
    height: 100px;
    top: -60px;
    right: 30px;
    
    -webkit-border-radius: 200px;
    -moz-border-radius: 200px;
    border-radius: 200px;
  }
  
  .cloud2 {
    width: 100px;
    height: 30px;
    background: #00c9ee;
    position: absolute;
    top: 180px;
    left: 400px;
    
    -webkit-border-radius: 200px;
    -moz-border-radius: 200px;
    border-radius: 200px;
  }
  
  .cloud2:after {
    content: '';
    position: absolute;
    background: #00c9ee;
    width: 40px;
    height: 40px;
    top: -20px;
    left: 10px;
    
    -webkit-border-radius: 200px;
    -moz-border-radius: 200px;
    border-radius: 200px;
  }
  
  .cloud2:before {
    content: '';
    position: absolute;
    background: #00c9ee;
    width: 50px;
    height: 50px;
    top: -30px;
    right: 15px;
    
    -webkit-border-radius: 200px;
    -moz-border-radius: 200px;
    border-radius: 200px;
  
  }
  
  .cloud3 {
    width: 200px;
    height: 60px;
    background: #00c9ee;
    position: absolute;
    top: 100px;
    left: 740px;
    
    -webkit-border-radius: 200px;
    -moz-border-radius: 200px;
    border-radius: 200px;
  }
  
  .cloud3:after {
    content: '';
    position: absolute;
    background: #00c9ee;
    width: 80px;
    height: 80px;
    top: -40px;
    left: 20px;
    
    -webkit-border-radius: 200px;
    -moz-border-radius: 200px;
    border-radius: 200px;
  }
  
  .cloud3:before {
    content: '';
    position: absolute;
    background: #00c9ee;
    width: 100px;
    height: 100px;
    top: -60px;
    right: 30px;
    
    -webkit-border-radius: 200px;
    -moz-border-radius: 200px;
    border-radius: 200px;
  }
  
  @-webkit-keyframes move {
    0% {left: 0px;}
    49% {left: 940px; opacity: 1;}
    50% {left: 940px; opacity: 0;}
    51% {left: -940px; opacity: 0;} 
    52% {left: -940px; opacity: 1;} 
    100% {left: 0px;} 
  }
  
  @-webkit-keyframes backup {
    0% {left: -940px;}
    100% {left: 940px;}  
  
  }  
  
  @-moz-keyframes move {
    0% {left: 0px;}
    49% {left: 940px; opacity: 1;}
    50% {left: 940px; opacity: 0;}
    51% {left: -940px; opacity: 0;} 
    52% {left: -940px; opacity: 1;} 
    100% {left: 0px;} 
  }
  
  @-moz-keyframes backup {
    0% {left: -940px;}
    100% {left: 940px;}  
  
  }  
  
  @-ms-keyframes move {
    0% {left: 0px;}
    49% {left: 940px; opacity: 1;}
    50% {left: 940px; opacity: 0;}
    51% {left: -940px; opacity: 0;} 
    52% {left: -940px; opacity: 1;} 
    100% {left: 0px;} 
  }
  
  @-ms-keyframes backup {
    0% {left: -940px;}
    100% {left: 940px;}  
  
  }  
  
  #clouds .cloud1, #clouds .cloud2, #clouds .cloud2:after, #clouds .cloud2:before, #clouds .cloud3, #clouds .cloud1:after, #clouds .cloud1:before, #clouds .cloud3:before, #clouds .cloud3:after {
      background: #00f1ee;
      box-shadow: 0px 0px 20px 5px #00f1ee;	
      -moz-box-shadow: 0px 0px 20px 5px #00f1ee;	
      -webkit-box-shadow: 0px 0px 20px 5px #00f1ee;
  }

/* Seção Letras */

body {
	/* background: #7BD6FF; */
	font-family: "Throw My Hands Up In The Air Bold";
	font-size: 76%;
    padding: 0 0 0px
}

/*
	The idea is to make a base first.
	After that, make 2 circles and place on the base.

	Add some CSS3 box shadows for the awesomeness!
*/

.cloud_base {
	background: white;
	
	height: 100px;
	width: 300px;
	
	border-radius: 50px; /* half of height will do */
	
	position: relative;
	top: 120px;
	
	box-shadow:
		inset 5px -9px 5px rgba(225, 245, 253, 0.5),
		0px 0px 10px 6px rgba(240, 240, 240, 0.7);
	
	/* for basic little animation */
	-webkit-transition: 0.2s ease-in all;
	-moz-transition: 0.2s ease-in all;
	transition: 0.2s ease-in all;
}

.cloud_base:hover {
	left: 55%;
}

.rounds {
	width: 300px;
	border-radius: 50%; /* circle */
	position: absolute;
	bottom: -30px;
	
	-webkit-box-shadow: 0 0 25px 8px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 0 25px 8px rgba(0, 0, 0, 0.2);
	box-shadow: 0 0 25px 8px rgba(0, 0, 0, 0.2);
	
	-webkit-transition: 0.2s ease-in all;
	-moz-transition: 0.2s ease-in all;
	transition: 0.2s ease-in all;
}

.rounds:before, .rounds:after{
	content: '';
	position: absolute;
	background: #fff;
}

.rounds:after{
	height: 100px;
	width: 100px;
	border-radius: 50%; /* circle */
	
	top: -180px;
	left: 170px;
	
	box-shadow:
		inset 3px 2px 2px rgba(230, 230, 230, 0.5),
		0px -10px 15px rgba(255, 255, 255, 0.4);
}

.rounds:before {
	height: 180px;
	width: 180px;
	border-radius: 50%; /* circle */
	
	top: -220px;
	left: 30px;
	
	box-shadow:
		inset 2px 4px 2px rgba(230, 230, 230, 0.5),
		0px -10px 15px rgba(255, 255, 255, 0.4);
}

/*
	Code related to steps just for the demo.
	Not Important.
*/

.steps {
	width: 100%;
	position: relative;
	height: 200px;
}
.steps .cloud_base {
	top: 20px;
}
.steps .rounds {
	text-align: center;
}
.steps.two {
	margin-top: 30px;
}
.steps > div, .steps > span, .main > div {
	left: 45%;
	margin-left: -75px;
}

h2 {
	color: black;
	text-align: center;
	font-size: 1.8em;
}

.main {
	height: 350px;
}